
* {
    margin: 0;
    padding: 0;
    background-color: lightgray; 
}

body {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 15px;
    overflow-x: hidden;
}

header {
    width: 96%;
    height: 100px;
    background-color: pink;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: header;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes header {
    from {
        background-color: pink;
        border-radius: 0%;}
    to {background-color: violet;
        border-radius: 50%}
}

section {
    display: flex;
    flex-direction: row;
}

.orange {
    margin: 20px;
    background-color: lightsalmon;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation-name: orange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes orange {
    from {
        background-color: orange;
        border-radius: 0%;}
    to {background-color: rgb(95, 59, 17);
        border-radius: 50%}
}

.yellow {
    margin: 20px;
    background-color: lightgoldenrodyellow;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation-name: yellow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes yellow {
    from {
        background-color: yellow}
    to {background-color: yellowgreen}
}

.blue {
    margin: 20px;
    background-color: lightblue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation-name: blue;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes blue {
    from {
        background-color: lightblue;
        border-radius: 0%;}
    to {background-color: blue;
        border-radius: 50%}
}

footer {
    display: flex;
    margin: 10px;
}

.roses {
    margin: 10px;
    margin-left: 10px;
}

.rose {
    height: 80px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation-name: rosa;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rosa {
    from {background-color: palevioletred}
    to {background-color: darkmagenta}
}

.green {
    background-color: aqua;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    animation-name: verde;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes verde {
    from {
        background-color: aqua;
        border-radius: 0%;}
    to {background-color: green;
        border-radius: 50%}
}

@media screen and (max-width: 600px) {

    *{
        width: 600px;
    }

    header {
        width: 550px;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    section {
        width: 560px;
        margin: 15px;
        padding: 0;
    }

    .orange {
        font-size: 9px;
        margin: 10px;
        height: 150px;
    }

    .yellow {
        font-size: 9px;
        margin: 10px;
        height: 150px;
    }

    .blue {
        font-size: 9px;
        margin: 10px;
        height: 150px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .roses {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        padding: 0;
    }

    .rose {
        padding: 10px;
        font-size: 0.3em;
        height: 8px;
        width: 240px;
        display: flex;
    }

    .green {
        font-size: 0.4rem;
        height: 17px;
        width: 230px;
        display: flex;
        margin-right: 10px;
    }
}

@media screen and (max-width: 350px) {

    *{
        width: 350px;
        height: 200px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        height: 20px;
        width: 98%;
        background-color: pink;
        margin: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 100vw;
        margin: 0;
        height: fit-content;
    }

    .orange {
        height: fit-content;
        font-size: 7px;
    }

    .yellow {
        height: fit-content;
        font-size: 7px;
    }

    .blue {
        display: none;
    }
    
    .roses {
        margin-left: 7px;
        padding: 0;
    }

    footer {
        margin: 0;
    }

    .rose {
        margin: 3px;
        padding: 3px;
        width: 150px;
        font-size: 0.2em;
    }

    .green {
        margin: 3px;
        margin-right: 10px;
        padding: 3px;
        width: 190px;
        height: 30px;
        font-size: 0.3em;
    }
}